
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #111, #333); 
  color: #ddd;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  color: #e74c3c;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid #e74c3c; 
  padding-bottom: 10px; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.navigation {
  background-color: #2c3e50; 
  border-radius: 10px;
  padding: 20px;
  flex-basis: 25%;
  margin-right: 20px;
  color: #ddd; 
}

.navigation h2 {
  color: #e74c3c;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation ul li {
  margin-bottom: 10px;
}

.navigation ul li a {
  display: block;
  padding: 10px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  text-decoration: none;
}

.navigation ul li a:hover {
  background-color: #e74c3c;
  border-radius: 5px;
}

.content {
  flex-basis: 70%;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 10px;
  color: #ddd; 
}

.content p {
  line-height: 1.6;
}


footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #34495e;
  border-radius: 10px;
  color: #e74c3c;
}

.photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.photo {
  text-align: center;
}

.photo img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}